.one{
  background-image: url("../img/cars3.jpg");
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.two{
background-color: #e7ea15;
font-style: italic;
}
.three{
  background-image: url("../img/noir.jpg");
  color:#14eab5;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
}
.benz{
  color: black;
}
.four{
  margin-left: 50%;
  margin-right: 50%;
  height: auto;
  width: auto;
}
.menu{
  align-content: center;
}
.five{
  background-image: url("../img/code2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
ol{
  font-weight: bold;
}
